{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Accessories" %}</h1>
<p>
{% if accessory_list %}
<ul>
  {% for accessory in accessory_list %}
    <li>
        <a href="{% url 'inventory:acc_detail'  accessory.id %}">{{ accessory.Name }}</a>
    </li>
  {% endfor %}
</ul>
<a href="{% url 'inventory:acc_create' %} " class="btn btn-primary">{% trans 'Create A new Accessory' %}</a>
{% else %}
  <p>There are no Accessories in the database.</p>
<a href="{% url 'inventory:acc_create' %} " class="btn btn-primary">{% trans 'Create A new Accessory' %}</a>
{% endif %}
</p>
{% endblock %}
