{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}

<h1>{% trans "Delete an individual Accessory" %}</h1>

<p>{% trans "Are you sure you want to delete the individual Accessory: " %} {{ accdetail }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="{% trans 'Yes, delete.' %}" class="btn btn-primary mt-2">
  <a href="{% url 'inventory:accmodel_detail' accdetail.accmodel.id%}" class="btn btn-outline-primary mt-2">{% trans "Cancel" %}</a>
</form>
{% endblock %}