{% extends "base_menu.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
{% load static%}

<!--<div class="row">-->
<!--    <div class="column padding-reset">-->
<!--        <div class="ui massive message page grid center aligned olive attached">-->
<!--            <span class="ui huge header" style="color: #2c3034">{% trans "Colleges" %}</span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<section class="jumbotron jumbotron-fluid bg-light text-center">
    <div class="container-fluid">
        <br><br>
        <h1 style="font-size: 4em;">{% trans "Colleges" %}</h1>
        <br><br><br>
    </div>
</section>
<br><br>

<div id="colalert"></div>

<div class="container-fluid">
    <div class="row">

        <div class="col-8">
            <select class="ui fluid search dropdown" id="id_college" data-dept-url="{% url 'inventory:ajax_load_dept' %}">
            </select>
        </div>

        {% if perms.inventory.add_college %}
        <div class="col-4">
            <div id="id_AddCollege" class="ui fade1 animated small button fluid primary" data-bs-toggle="modal"
                 data-bs-target="#bcollegeModal" style="margin-bottom: 2em;">
                <div class="visible content">
                    <i class="ui icon plus"></i>
                </div>
                <div class="hidden content" style="font-size: x-small;">
                    {% trans 'Add a College' %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>


</div>
<div class="">
    <h3 id="mainCollegeTitle" style="min-height: 3em; ">
    </h3>
</div>

<div class="container-fluid">
    <div id="id_depts">

    </div>
</div>


<div class="modal fade" tabindex="-1" id="bcollegeModal">
    <div class="modal-dialog">
        <div class="modal-content" id="collegeModal" data-col-url="{%url 'inventory:college_list' %}">
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        const url = "{% url 'inventory:col_drop' %}"
        $.get(url).then(function (data) {
            $('#id_college').html(data);
        });
    })

    $("#id_college").change(function refreshDept() {
        const url = $("#id_college").attr("data-dept-url");  // get the url of the `load_cities` view
        const collegeId = $("#id_college").val();  // get the selected country ID from the HTML input
        const collegeName = $("#id_college option:selected").text()
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'college_id': collegeId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_depts").html(data.html_addform);  // replace the contents of the city input with the data that came from the server
                $("#mainCollegeTitle").text(collegeName);
                $("#mainCollegeTitle").addClass('jumbotron jumbotron-fluid text-muted fs-2 d-flex justify-content-center align-items-center');
                $("#mainCollegeTitle").css('background-color', "#fcf6e2");
                /*
                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);
                */
            }
        });
    });

    $("#id_AddCollege").click(
        function () {
            const url = $("#collegeModal").attr("data-col-url");
            $.ajax({
                url: url,
                type: 'post',
                success: function (data) {
                    $("#collegeModal").html(data.html_form);
                }
            })
        }
    )

    $('.ui.search.dropdown').dropdown({ fullTextSearch: true, keepOnScreen: true, direction: 'upward' });
</script>

{% endblock %}
