{% extends "base_menu.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
{% load static%}

<h1>{% trans "Colleges" %}</h1>
<p>
    <select class="form-select" id="id_college" data-dept-url="{% url 'inventory:ajax_load_dept' %}">
        <option selected>{%trans 'Please Select a College' %}</option>
        {% for college in college_list %}
        <option value="{{college.id}}">
            <!--            onclick="getStoreView(e, {{college.id}})"-->
            {{ college.Name }}
        </option>
        {% endfor %}
    </select>
</p>


<div class="modal fade" tabindex="-1" id="bcollegeModal">
    <div class="modal-dialog">
        <div class="modal-content" id="collegeModal" data-col-url="{%url 'inventory:college_list' %}">

        </div>
    </div>
</div>

{% if perms.inventory.add_college %}
<button type="button" id="id_AddCollege" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bcollegeModal" >
    {% trans 'Add a new College' %}
</button>
{% endif %}


<div id="id_depts">

</div>

<script>
    $("#id_college").change(function () {
        const url = $("#id_college").attr("data-dept-url");  // get the url of the `load_cities` view
        const collegeId = $(this).val();  // get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'college_id': collegeId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_depts").html(data);  // replace the contents of the city input with the data that came from the server

                /*
                let html_data = '<option value="">---------</option>';
                data.forEach(function (city) {
                    html_data += `<option value="${city.id}">${city.name}</option>`
                });
                console.log(html_data);
                $("#id_city").html(html_data);
                */
            }
        });
    });

    $("#id_AddCollege").click(
        function () {
            console.log('Add Col Click');
            const url = $("#collegeModal").attr("data-col-url");
            $.ajax({
                url: url,
                type: 'post',
                success: function (data) {
                    console.log('Add Col Click');
                    $("#collegeModal").html(data);
                }
            })
        }
    )

</script>


{% endblock %}