{% load i18n %}
{% load crispy_forms_tags %}
<h1>{% trans "Departments" %}</h1>
<p>
{% if dept  %}
<ul>
  {% for department in dept %}
    <li>
        {{ department.Name }}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>{% trans 'There are no Departments in this College' %}.</p>
{% endif %}
</p>
<form action="" method="post">
    {% csrf_token %}
    {{ deptform | crispy}}
    <input type="submit" value="{%trans 'Submit'%}" class="btn btn-primary mt-2">
    <input type="submit" value="{%trans 'Cancel'%}" class="btn btn-outline-primary mt-2"
           onclick="window.location.href='{% url 'inventory:acc_list' %}';return false;">

</form>