{% load i18n %}
{% load crispy_forms_tags %}
<h1>{% trans "Departments" %}</h1>

<p>
    {% if dept %}
<table>
    {% for department in dept %}
    <tbody>
    <tr>
        <td>{{ department.deptName }}</td>
        {% if perms.inventory.change_department %}
        <td>
            <button type="button" class="btn btn-primary editDept" data-bs-toggle="modal"
                    data-bs-target="#deptModal" data-url="{% url 'inventory:ajax_edit_dept' department.id %}">
                {% trans 'Edit' %}
            </button>
        </td>
        {% endif %}
        {% if perms.inventory.delete_department %}
        <td>
            <button type="button" class="btn btn-danger deleteDept" data-bs-toggle="modal"
                    data-bs-target="#deptModalDelete" data-url="{% url 'inventory:ajax_delete_dept' department.id %}">
                {% trans 'Delete' %}
            </button>
            {% endif %}
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<p>{% trans 'There are no Departments in this College' %}.</p>
{% endif %}
</p>


{% if perms.inventory.add_department %}
<form action="">
    {% csrf_token %}
    {% for field in deptform %}
    <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
    </div>
    {% endfor %}

</form>
<button class="btn btn-primary mt-2" id="dept_submit">{%trans 'Submit'%}</button>
<input type="submit" value="{%trans 'Reset'%}" class="btn btn-outline-primary mt-2"
       onclick="document.getElementById('id_deptName').value = '';return false;">
{% endif %}

<div class="modal fade" id="deptModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="deptModalContent">

        </div>
    </div>
</div>

<script>
    $("#dept_submit").click(
        function () {
            const url = $("#id_college").attr("data-dept-url");
            const collegeId = $("#id_college").val();
            const newdept = $("#id_deptName").val();
            console.log(newdept);
            $.ajax({
                    url: url,
                    type: 'post',
                    data: {
                        'college_id': collegeId,       // add the country id to the GET parameters
                        'deptName': newdept
                    },
                    success: function (data) {
                        $("#id_depts").html(data);  // replace the contents of the city input with the data that came from the server
                    }
                }
            )
        }
    )
    $(".editDept").click(function () {
        const url = $(this).attr("data-url");
        $.ajax({
            url: url,
            type: 'get',
            success: function (data) {
                $("#deptModalContent").html(data);
            }
        })
    })

</script>