{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}

<h1 class="text-center">{% trans "Places Application" %}</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <a href="#">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{% trans 'Device' %}</h5>
        <p class="card-text">{%trans 'Add or Edit general devices' %}</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'inventory:places_main' %}">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{% trans 'Places' %}</h5>
        <p class="card-text">{%trans 'Add or Edit a college, campus, department, building, or lab.' %}</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'inventory:manu_list' %}">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{% trans 'Manufacturers & Models' %}</h5>
        <p class="card-text">{%trans 'Add or Edit a Manufacturing company and their device models' %}</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col">
    <a href="{% url 'inventory:acc_list' %}">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{% trans "Devices' Accessories" %}</h5>
        <p class="card-text">{%trans 'Add or Edit an Accessory for a device and its model' %}</p>
      </div>
    </div>
    </a>
  </div>
</div>






{% endblock %}