{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}

<a href="{% url 'inventory:manu_model_update' model.id %}"><i
        class="fa fa-pencil position-relative position-absolute start-50 pt-5 ps-5"></i></a>
<a href="{% url 'inventory:manu_model_delete' model.id %}"><i
        class="fa fa-trash position-relative position-absolute start-50 pt-5 ps-4"></i></a>

<h1>{{ model.Name }}</h1>
<ul>
    <li>{% trans "Device: " %} {{model.device.Name}}</li>
    <li>{% trans "Voltage: " %} {{ model.Voltage}} V</li>
    <li>{% trans "Amperage: " %} {{ model.Amperage}} A</li>
    <li>{% trans "Phase: " %} {{model.phase.Value}}</li>
    <li>{% trans "Frequency: " %} {{model.frequency.Value}}</li>
</ul>
{% endblock %}
