{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Consumable" %}</h1>
<p>
{% if consumable_list %}
<ul>
  {% for consumable in Consumable_list %}
    <li>
        <a href="{% url 'consumable:Consumable_detail'  consumable.id %}">{{ consumable.id }}</a>
    </li>
  {% endfor %}
</ul>
<a href="{% url 'consumable:Consumable_create' %} " class="btn btn-primary">{% trans 'Create A new Consumable' %}</a>
{% else %}
  <p>There are no Consumables in the database.</p>
{% endif %}
</p>
{% endblock %}
