{% extends "base_menu.html" %}
{% load i18n%}
{% block content %}
<style>
    input::placeholder {
        font-style: italic;
        color: rgba(255, 0, 0, 0.23) !important;
    }
</style>

<h1>{{ CostClass.Title }}</h1>
<a href="{% url 'consumable:CostClass_update' CostClass.id %}"><i
        class="fa fa-pencil position-relative position-absolute start-50 pt-5 ps-5"></i></a>
<a href="{% url 'consumable:CostClass_delete' CostClass.id %}"><i
        class="fa fa-trash position-relative position-absolute start-50 pt-5 ps-4"></i></a>


{% for model in models %}